---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Michaela Isaacs: About">
    <img src="/assets/photo-me.jpg" class="banner spacer-margin-xl"alt="A photo of a young woman in an orange jacket with her arms flung out in front of a mountain, hair blown over her face" />
    <div class="flex about-media align-top">
        <div>
            <section class="spacer-margin-large">
                <h1 class="text-subtitle text-color-emphasis bold inline-block margin-bump-right">A bit about me.</h1>
                <p class="inline">Hi! I'm Michaela Isaacs. I'm a software developer currently employed at Infotech, and I'm always looking for new ways to expand my dev skills in order to make the best products I can.</p>
            </section>
            <section class="spacer-margin-large">
                <h2 class="text-header underline spacer-padding-xs">Professional</h2>
                <p class="spacer-padding-small">When it comes to frontend development, I believe in always putting the user first. This is one of many reasons I'm interested in ensuring the accessibility of my projects. Today, the web is crucial for everyday life, so it's even more crucial that we don't let anyone get left behind. That said, I also think perfection (in accessibility or otherwise) isn't worth striving for day-to-day. It's important to do what you can when you can--problems generally look a little more approachable that way. Being a new developer, I'm always learning, and I'm always excited to go back and improve on old projects with my new knowledge.</p>
            </section>
            <section>
                <h2 class="text-header underline spacer-padding-xs">Personal</h2>
                <p class="spacer-padding-small">I love hiking, playing board games with my friends, and watching horror movies. I also have a black and white cat, Oakley, whom I love very much. After work, you'll typically find me on the couch with my roommate, a bad horror movie playing on TV while I read up on game design and desperately wish my cat was a lap cat. That or playing Agricola for the millionth time.</p>
            </section>
        </div>
        <aside>
            <Card className="padding-large">
                <h2 class="underline-dull spacer-margin-small">Frameworks</h2>
                <ul class="spacer-margin-large bulleted">
                    <li>Vue</li>
                    <li>React</li>
                    <li>Ruby on Rails</li>
                </ul>
                <h2 class="underline-dull spacer-margin-small">Languages</h2>
                <ul class="spacer-margin-large bulleted">
                    <li>HTML</li>
                    <li>Javascript</li>
                    <li>CSS</li>
                </ul>
                <h2 class="underline-dull spacer-margin-small">Tools</h2>
                <ul class="bulleted">
                    <li>Git</li>
                    <li>Figma</li>
                    <li>VoiceOver</li>
                </ul>
            </Card>
        </aside>
    </div>
</Layout>

<style>
    .margin-bump-right {
        margin-right: .875rem;
    }
    aside {
        min-width: 13rem;
    }
    .about-media {
        flex-wrap: nowrap !important;
    }
    @media (max-width: 768px ) {
        .about-media {
            flex-wrap: wrap !important;
        }
        aside {
            width: 100%;
        }
    }
</style>