---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LinkedIn from '../components/LinkedIn.astro';
import Github from '../components/Github.astro';
import Codepen from '../components/Codepen.astro';
---

<Layout title="Michaela Isaacs: Home">
	<div class="spacer-padding-new underline">
		<h1 class="text-title text-color-emphasis">Hi!<br />I'm Michaela.</h1>
		<div class="flex justify-apart align-bottom">
			<div class="text-subtitle">Frontend Developer +<br />Accessibility Enthusiast</div>
			<div class="socials">
				<a href="https://www.linkedin.com/in/michaela-isaacs/"><LinkedIn /><span class="sr-only">LinkedIn</span></a>
				<a href="https://github.com/misaacs21"><Github /><span class="sr-only">Github</span></a>
				<a href="https://codepen.io/misaacs21"><Codepen /><span class="sr-only">Codepen</span></a>
			</div>
		</div>
	</div>
	<div class="flex justify-apart align-top spacer-padding">
		<Card className="card-square">
			<h2 slot="header" class="text-header spacer-margin">I make...</h2>
			Responsive, cross-browser, and accessible web applications that put the user first.
		</Card>
		<Card className="card-square">
			<h2 slot="header" class="text-header spacer-margin">I use...</h2>
			Vue and React as well as HTML, Javascript, and CSS--and I'm always learning more.
		</Card>
		<Card className="card-square">
			<h2 slot="header" class="text-header spacer-margin">I am...</h2>
			A young professional with a passion for board games, horror movies, hiking, and her cat. 🐈
		</Card>
	</div>
	<section>
		<h2 class="text-subtitle">Let's get in touch!</h2>
		<form>
			<label>
				Email
				<input type="email" />
			</label>
			<label>
				Message
				<textarea />
			</label>
			<button class="button bold" type="submit">Send</button>
		</form>
	</section>
</Layout>

<style>
	.socials {
		display: flex;
		column-gap: .875rem;
	}
	@media (max-width: 850px) {
		.flex {
			display: grid !important;
			grid-template-columns: 1fr !important;
		}
		.card-square {
			margin: auto;
		}
	}
	.spacer-padding-new {
		padding-bottom: 2.5rem;
	}
	.contact-me {
		display: flex;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 105vh;
		color: var(--color-emphasis-light);
		overflow-x: hidden;
		z-index: 5;
		pointer-events: none;
	}
	section > h2 {
		font-weight: 600;
		margin-bottom: 3rem;
	}
	section > form {
		display: flex;
		flex-direction: column;
		gap: 1.75rem;
	}
	section input {
		min-height: 3.5rem;
		padding: .5rem .75rem;
	}
	section input:user-invalid {
		border: 3px solid var(--color-emphasis);
	}
	section textarea {
		min-height: 15rem;
		resize: none;
		padding: 1.5rem 1rem;
	}
	section input, section textarea {
		display: block;
		min-width: 50%;
		border-radius: 8px;
		box-shadow: inset 0px 2px 2px 0px rgb(0,0,0,.25);
		border: none;
		margin-top: .375rem;
	}
	section > form > .button {
		width: fit-content;
		background-color: var(--color-emphasis-light);
		color: white;
		padding: .5rem 1.7rem;
		box-shadow: 0px 2px 2px 0px rgb(0,0,0,.25);
		border-radius: 8px;
	}
</style>