---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Michaela Isaacs: Home">
	<div class="spacer-padding underline">
		<h1 class="text-title text-color-emphasis">Hi!<br />I'm Michaela.</h1>
		<div class="flex justify-apart align-bottom">
			<div class="text-subtitle">Frontend Developer +<br />Accessibility Enthusiast</div>
			<div>Socials</div>
		</div>
	</div>
	<div class="flex justify-apart align-top spacer-padding">
		<Card className="card-square">
			<h2 slot="header" class="text-header spacer-margin">I make...</h2>
			Responsive, cross-browser, and accessible web applications that put the user first.
		</Card>
		<Card className="card-square">
			<h2 slot="header" class="text-header spacer-margin">I use...</h2>
			Vue and React as well as HTML, Javascript, and CSS--and I'm always learning more.
		</Card>
		<Card className="card-square">
			<h2 slot="header" class="text-header spacer-margin">I am...</h2>
			A young professional with a passion for board games, horror movies, hiking, and her cat. 🐈
		</Card>
	</div>
	<section style="display:none;">
		<h2>Let's get in touch!</h2>
		<form>
			<label>
				Email
				<input type="email" />
			</label>
			<label>
				Message
				<textarea />
			</label>
			<button type="submit">Send</button>
		</form>
	</section>
</Layout>

<style>
	@media (max-width: 850px) {
		.flex {
			display: grid !important;
			grid-template-columns: 1fr !important;
		}
		.card-square {
			margin: auto;
		}
	}
</style>