---
export interface Props {
	className: string;
}

const { className = '' } = Astro.props;
---

<div>
    <slot name="header" />
    <div class={ `card ${className}` }>
        <slot />
    </div>
</div>