---
export interface Props {
	linkPath: string;
	label: string;
}

const { linkPath, label } = Astro.props;
const { pathname: currentPath } = Astro.url;
---

<li>
	<a href={ linkPath } class={ currentPath === linkPath ? "underline" : ""}>
		{ label }
	</a>
</li>
