---
export interface Props {
	linkPath: string;
	label: string;
}

const { linkPath, label } = Astro.props;
const { pathname: currentPath } = Astro.url;
const isCurrentLocation = (currentPath.startsWith(linkPath) && (linkPath !== '/' )) || currentPath === linkPath

---

<li>
	<a href={ linkPath } aria-current={ isCurrentLocation ? 'true' : undefined} class={ isCurrentLocation ? "underline" : ""}>
		{ label }
	</a>
</li>

<style>
	a {
		font-weight: normal;
	}
	a[aria-current="true"] {
		font-weight: 600;
	}
</style>
