---
export interface Props {
	linkPath: string;
	label: string;
}

const { linkPath, label } = Astro.props;
const { pathname: currentPath } = Astro.url;
---

<li>
	<a href={ linkPath } aria-current={ currentPath === linkPath ? 'true' : undefined} class={ currentPath === linkPath ? "underline" : ""}>
		{ label }
	</a>
</li>

<style>
	a {
		font-weight: normal;
	}
	a[aria-current="true"] {
		font-weight: 600;
	}
</style>
